.d-flex.justify-content-between
    button.btn.btn-light.disabled(
        type="button",
        (click)='back()'
    ) Previous
    button.btn.btn-secondary(
        *ngIf='showSkip',
        type="button"
    ) Skip
    button.btn.btn-primary(
        *ngIf='!showSkip',
        (click)='_continue()',
        type="button"
    ) Continue
