.step.step-secondary
    .step-item(
        *ngFor='let step of steps',
        [ngClass]='{active: step.path === currentPath}'
    )
        a.step-item-link(
            [ngClass]='{active: step.path === currentPath}',
            [routerLink]='step.path'
        ) {{step.name}}
