// This file was generated for Start Bootstrap Admin Pro
// https://shop.startbootstrap.com/product/sb-admin-pro/
// Place this file in src/scss/_variables-colors-overrides.scss

$primary: #4caf50;
$secondary: #00acc1;
$success: #b2ff59;
$danger: #ff5252;
$warning: #ffab40;
$info: #84ffff;

// Seafoam
// $primary: #06794f;
// $secondary: #0fa28b;
// $success: #3ac97c;
// $danger: #d73f30;
// $warning: #ebb20c;
// $info: #9d46cd;