.page-header-content
    .container
        .row.justify-content-center
            .col-xl-8.col-lg-10.text-center
                h1.page-header-title Find the best businesses in town
                p.page-header-text.mb-5 Search for restaurants, contractors, and other local businesses in your area to find out which ones are the best!
                form.page-header-signup
                    .form-row.justify-content-center
                        .col-lg-6.col-md-8
                            .form-group.mr-0.mr-lg-2
                                label.sr-only(for='inputSearch') Find local businesses...
                                input#inputSearch.form-control.form-control-solid.font-weight-500(type='text', placeholder='Find local businesses...')
                        .col-lg-3.col-md-4
                            button.btn.btn-teal.btn-block.font-weight-500(type='submit') Search
