<nav class="navbar navbar-marketing navbar-expand-lg" sbproScrollSpy [ngClass]="topNavClasses">
    <div class="container py-1">
        <a class="navbar-brand" routerLink="/" [ngClass]="brandClasses">READY! Mortgage</a><button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i-feather name="menu"></i-feather></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isMenuCollapsed">
            <ul class="navbar-nav ml-auto mr-lg-5"></ul>
            <a class="btn btn-primary btn-sm font-weight-500 ml-lg-4" href="https://shop.startbootstrap.com/product/sb-ui-kit-pro-angular/" [ngClass]="buttonClasses">Login</a>
        </div>
    </div>
</nav>
