.page-header-content
    .container
        .row.align-items-center
            .col-lg-7
                h1.page-header-title Build your next project faster
                p.page-header-text.mb-5 Welcome to SB UI Kit Pro, a toolkit for building beautiful web interfaces, created by the development team at Start Bootstrap
                form.form-inline.justify-content-center
                    .form-group.flex-fill.mb-2.mr-2
                        label.sr-only(for='inputEmail') Enter your email...
                        input#inputEmail.form-control.form-control-solid.w-100(type='email', placeholder='Enter your email...')
                    button.btn.btn-primary.font-weight-500.mb-2(type='submit') Sign Up
                p.page-header-text.small.mb-0.
                    By signing up, you agree to our <a href="#!">terms of service</a>
            .col-lg-5.d-none.d-lg-block
                img.img-fluid(src='assets/img/illustrations/creativity.svg')
