.card.sb-card-icon.mb-4
    .row.no-gutters
        .col-auto.sb-card-icon-aside(
            [ngClass]='iconBackground'
        )
            ng-content(select='.card-icon')
        .col
            ng-content(select='.card-body')