.page-header-content.pt-5
    .container
        .row.features.text-center.mb-10
            .col-lg-4.col-md-6.mb-5
                a.card.card-link.border-top.border-top-lg.border-primary.h-100.lift([routerLink]='')
                    .card-body.p-5
                        .icon-stack.icon-stack-lg.bg-primary-soft.text-primary.mb-4
                            i.bi.bi-alarm(style='font-size: 2rem; color: cornflowerblue;')
                        h6 Account
                        p.card-text Issues related to logging in, out, or about multiple devices.
                    .card-footer.bg-transparent.pt-0.pb-5
                        .badge.badge-pill.badge-light.font-weight-normal.px-3.py-2 21 Entries
            .col-lg-4.col-md-6.mb-5
                a.card.card-link.border-top.border-top-lg.border-green.h-100.lift([routerLink]='')
                    .card-body.p-5
                        .icon-stack.icon-stack-lg.bg-green-soft.text-green.mb-4
                            i-feather(name='clock')
                        h6 Integrations
                        p.card-text Connecting with 3rd party apps to exchange data.
                    .card-footer.bg-transparent.pt-0.pb-5
                        .badge.badge-pill.badge-light.font-weight-normal.px-3.py-2 9 Entries

        
        
