.pointer {
    cursor: pointer;
}

.top-section {
    display: block;
    @include media-breakpoint-between(lg, xl) { 
        margin-top: 50px;
    }
    @include media-breakpoint-between(xs, md) { 
        margin-top: 100px;
    }
}

.icon-stack-huge {
    @include media-breakpoint-only(xl) { 
        height: 12rem;
        width: 12rem;
        font-size: 7rem;
        &.more-1 {
            font-size: 8rem;
        }
        &.more-2 {
            font-size: 9rem;
        }
        &.more-3 {
            font-size: 10rem;
        }
        &.less-1 {
            font-size: 6rem;
        }
        &.less-2 {
            font-size: 5rem;
        }
        &.less-3 {
            font-size: 4rem;
        }
    }
    @include media-breakpoint-between(sm, lg) { 
        height: 10rem;
        width: 10rem;
        font-size: 6rem;
        &.more-1 {
            font-size: 7rem;
        }
        &.more-2 {
            font-size: 8rem;
        }
        &.more-3 {
            font-size: 9rem;
        }
        &.less-1 {
            font-size: 5rem;
        }
        &.less-2 {
            font-size: 4rem;
        }
        &.less-3 {
            font-size: 3rem;
        }
    }
    @include media-breakpoint-only(xs) { 
        height: 8rem;
        width: 8rem;
        font-size: 5rem;
        &.more-1 {
            font-size: 6rem;
        }
        &.more-2 {
            font-size: 7rem;
        }
        &.more-3 {
            font-size: 8rem;
        }
        &.less-1 {
            font-size: 4rem;
        }
        &.less-2 {
            font-size: 3rem;
        }
        &.less-3 {
            font-size: 2rem;
        }
    }
}
