.page-header-content
    .container
        .row.justify-content-center
            .col-xl-8.col-lg-10.text-center
                h1.page-header-title Build your next project faster
                p.page-header-text.mb-5 Welcome to SB UI Kit Pro, a toolkit for building beautiful web interfaces, created by the development team at Start Bootstrap
                form.page-header-signup.mb-2.mb-md-0
                    .form-row.justify-content-center
                        .col-lg-6.col-md-8
                            .form-group.mr-0.mr-lg-2
                                label.sr-only(for='inputEmail') Enter your email...
                                input#inputEmail.form-control.form-control-solid.font-weight-500(type='email', placeholder='Enter your email...')
                        .col-lg-3.col-md-4
                            button.btn.btn-teal.btn-block.font-weight-500(type='submit') Sign Up
                p.page-header-text.small.mb-0.
                    By signing up, you agree to our <a href="javascript:void(0);">terms of service</a>
