.container.mt-5
    .row.align-items-center
        .col-lg-6
            .h4.font-weight-normal Ready to get started?
            p.lead.mb-0.text-gray-500 Get in touch or create an account.
        .col-lg-6.text-lg-right
            a.btn.btn-primary.font-weight-500.mr-3.my-2([routerLink]='') Contact Sales
            a.btn.btn-white.my-2.font-weight-500([routerLink]='') Create Account
