.page-header-content
    .container
        .row.justify-content-center
            .col-xl-8.col-lg-10.text-center(data-aos='fade')
                h1.page-header-title Introducing a full suite of premium products
                p.page-header-text Build a marketing site for your desktop app with this easy to use layout included with SB UI Kit Pro
                button.btn.btn-primary.font-weight-500 Get Started
                button.btn.btn-link.font-weight-500 Learn More
