.page-header-content
    .container
        .row.justify-content-center
            .col-xl-8.col-lg-10.text-center
                h1.page-header-title Buy and sell used items
                p.page-header-text.mb-5 Out with the old, in with the new! Your trash is another's treasure. Start making money, or find great deals today!
                a.btn.btn-teal.font-weight-500([routerLink]='') Start Selling
                a.btn.btn-link.font-weight-500([routerLink]='') Browse Categories
