p credit-score

.row.justify-content-around.text-center.mb-10
    button.btn.btn-primary(type='button') Save
    button.btn.btn-primary(type='button') Save
    button.btn.btn-primary(type='button') Save
    button.btn.btn-primary(type='button') Save
    button.btn.btn-primary(type='button') Save