.container
    .row.align-items-center
        .col-lg-6.mb-4.mb-lg-0
            h4.text-primary Ready to get started?
            p.lead.mb-0 Create your account now!
        .col-lg-6.text-lg-right
            a.btn.btn-primary.font-weight-500.mr-3([routerLink]='') Start Now
            a.btn.btn-transparent-dark.font-weight-500([routerLink]='') Contact Us
