.page-header-content
    .container
        .row.align-items-center
            .col-lg-6
                .badge.badge-marketing.badge-pill.badge-secondary-soft.text-secondary.mb-3 Start today!
                h1.page-header-title Get more leads, more customers, and more revenue
                p.page-header-text Stop losing leads because of a non-optimized landing page. Start converting your users to paying customers and winning more sales today with a new landing page!
            .col-lg-6
                .card.rounded-lg.text-dark
                    .card-header.py-4
                        | Sign up and get our free e-book!
                    .card-body
                        include ./lead-capture-form.pug

include ./modal-template.pug