.card.card-collapsable.mb-4(
    [ngClass]='cardClasses'
)
    a.card-header(
        [ngClass]='{collapsed: collapsed}',
        (click)='toggle()',
        data-toggle='collapse',
        role='button',
        [attr.aria-expanded]='!collapsed'
    ) {{headerText}}
        .card-collapsable-arrow
            i.bi.bi-chevron-down.mr-1
    .collapse.show(
        #collapsibleSection
    )
        ng-content(select='.card-body')
        ng-content(select='.card-footer')
