<footer class="footer pt-5 pb-5 mt-auto" [ngClass]="footerClasses">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-brand">Ready Mortgage</div>
                <div class="mb-1">Be ready!</div>
            </div>
            <div class="col-lg-9"></div>
        </div>
        <hr class="my-4" />
        <div class="row align-items-center">
            <div class="col-md-6 small">Copyright &copy; Ready Mortgage 2021</div>
            <div class="col-md-6 text-md-right small">
                <a href="javascript:void(0);">Privacy Policy</a>
                &middot;
                <a href="javascript:void(0);">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>
