<sbpro-layout-landing footerClasses="bg-primary text-white"
    ><sb-top-nav topNavClasses="bg-primary navbar-dark fixed-top" brandClasses="text-white" buttonClasses="btn-white"></sb-top-nav
    ><sbpro-page-section class="top-section" sectionClasses="bg-white"
        ><div class="page-header-content pt-5">
            <div class="container">
                <h4>Confidence Meter</h4>
                <div class="progress mb-5"><div class="progress-bar bg-primary" role="progressbar" style="width: 10%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>
                <router-outlet></router-outlet>
            </div></div></sbpro-page-section
></sbpro-layout-landing>
