.page-header-content.py-15
    .container
        .row
            .col-xl-6.col-lg-8
                h1.page-header-title Chris Kelly
                p.page-header-text.mb-5 I am a sales professional specializing in product marketing and distribution based in Clarcton, MA
                a.btn.btn-teal.font-weight-500([routerLink]='')
                    fa-icon.mr-2([icon]='["fas", "file-pdf"]')
                    | Download Resume
