.page-header-content
    .container
        .row.justify-content-center
            .col-xl-8.col-lg-10.text-center
                h1.page-header-title Build your next project faster
                p.page-header-text.mb-5 Welcome to SB UI Kit Pro, a toolkit for building beautiful web interfaces, created by the development team at Start Bootstrap
                a.btn.btn-teal.font-weight-500([routerLink]='') Get Started
                a.btn.btn-link.font-weight-500([routerLink]='') Learn More
