doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Ready Mortgage
        base(href='/')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='msapplication-TileColor', content='#dd3d31')
        meta(name='theme-color', content='#dd3d31')
        link(rel='icon', type='image/png', href='favicon.png')
        link(href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Libre+Franklin:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap", rel="stylesheet")
        
        link(rel='apple-touch-icon', sizes='180x180', href='https://assets.startbootstrap.com/img/icons/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='https://assets.startbootstrap.com/img/icons/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='https://assets.startbootstrap.com/img/icons/favicon-16x16.png')
        link(rel='mask-icon', href='https://assets.startbootstrap.com/img/icons/safari-pinned-tab.svg', color='#dd3d31')
        link(rel='manifest', href='manifest.webmanifest')
        //- script(src="https://www.google.com/recaptcha/api.js")
        //- script.        
        //-     !function(f,b,e,v,n,t,s)
        //-     {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        //-     n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        //-     if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        //-     n.queue=[];t=b.createElement(e);t.async=!0;
        //-     t.src=v;s=b.getElementsByTagName(e)[0];
        //-     s.parentNode.insertBefore(t,s)}(window, document,'script',
        //-     'https://connect.facebook.net/en_US/fbevents.js');
        //-     fbq.disablePushState;
        //-     fbq('init', '470997813790692');
        //- noscript <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=470997813790692&ev=PageView&noscript=1">
    body
        app-root
